body {
    margin: 0;
    padding: 0;
}

/*|  NAVIGATION  |*/

nav {
    display: flex;
    background-color: grey;
    justify-content: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: clamp(1rem, 2vw, 3rem);
}

ul a {
    text-decoration: none;
}